<div class="container-fluid about-us" id="about-us" data-aos="fade-right">
    <div class="row">
        <div class="col-xl-6 about-us-img">
            <img src="assets/images/slika-kamion2.jpg" style="max-width: 100%">
        </div>
        <div class="col-xl-6 about-us-text">
            <h1 class="about-us-title" data-aos="flip-right"> About us</h1>
            <p class="about-us-main-text">
                    Before we started this idea to start a business, we thought about putting 
                    our customers first and providing them with trust and respect. Since 2014 we have built
                    our organization and leave behind satisfied customers. In the contemporary digital era everything
                    is at the reach of your hand by simply clicking a button from the comfort of your own home, we are 
                    here to make sure you get exactly what you requested in the most expedited way. Our well trained and 
                    experienced drivers work 24/7, 365 days a year to provide a safe and on time delivery for all of our 
                    customers. We appreciate and value our drivers because without them there would be no trucking industry.
                    We realize that human resources are the most important and the aggregate of the transportation industry
                    and should start at the highest level of safety. Our growth is based on the application of all the latest technologies, 
                    the best equipment and professional treatment between our employees and customers.
            </p>
        </div>
    </div>

     <div class="row volvo-trucks-images">
           <div class="col-lg-4">
            <img src="assets/images/Volvo-1.jpg" style="max-width: 100%" data-aos="fade-right">
           </div>
           <div class="col-lg-4">
            <img src="assets/images/Volvo-2.jpg" style="max-width: 100%" data-aos="fade-right">
           </div>
           <div class="col-lg-4">
            <img src="assets/images/Volvo-354.jpg" style="max-width: 100%" data-aos="fade-right">
           </div>
    </div>

    <div class="container-fluid container-marketing" data-aos="fade-right">
        <div class="row">
            <div class="col-lg-12 marketing-text"> <span class="text"><span class="red-text">BECOME OUR MEMBER</span> AND IMPROVE YOURSELF</span></div>
        </div>
         <div class="row">
            <div class="col-lg-4 red-line-right">
                <img src="assets/images/boder.png" class="red-line">
            </div>
            <div class="col-lg-4 marketing-text"><span class="text">Just join us</span></div>
            <div class="col-lg-4 red-line-left">
                <img src="assets/images/boder.png" class="red-line">
            </div>
         </div>
       </div>
</div>
